@import helper._
@(addFlightForm : Form[models.Flight])

@main("Add Flight"){
	<h3>Add a new Flight</h3>
	@form(action = routes.HomeController.addFlightSubmit(), 'class -> "form-horizontal", 'role->"form"){
		@inputText(addFlightForm("flightDate"),'_label ->"Flight Date", 'class -> "form-control")
		@inputText(addFlightForm("depTime"), '_label -> "Departure Time",'class -> "form-control")
		@inputText(addFlightForm("arrTime"), '_label -> "Arrival Time",'class -> "form-control")
		@inputText(addFlightForm("aircraftID"), '_label -> "aircraftID",'class -> "form-control")
		@inputText(addFlightForm("routeID"), '_label -> "routeID",'class -> "form-control")


<div class="actions">
		<input type = "submit" value="Add Flight" class ="btn btn-primary">
			<a href = "@routes.HomeController.index()"
				<button class="btn btn-warning"> Cancel</button>
			</a>
</div>
	}

}
